.burgerMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 100%;
  z-index: 999;
  padding: 24px;
  .container {
    padding: calc(3vw + 12.7px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    border-radius: 10px;
  }
}
