.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 100%;
  z-index: 999;
  padding: 24px;
}

.modal {
  background: #f2f2f2;
  border-radius: 20px;
  padding: calc(3vw + 12.7px);
  width: 654px;
  text-align: center;
}

.title {
  font-size: 48px;
  color: #152938;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 18px;
  color: #7191a5;
  margin-bottom: 60px;
}

.panel {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;

  .stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #dfe7ec;
    border-radius: 10px;
    padding: 30px;
    color: #7191a5;
  }

  .statValue {
    font-size: 32px;
    color: #304859;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media (max-width: 575px) {
  .buttons {
    flex-direction: column;
  }
  .stat {
    .statValue {
      font-size: 20px;
    }
  }
}
